:root{
  --kursiv-text: 'Bickham-Script-One';
  --main-font: 'Montserrat';
  --background-color:  #F4F1EA;
  --button-color: #B4B4B4;
  --color-text: #8A312B;
  --timer-font: 'GentiumPlus';
  --timer-text: #FCF7F3;
}